<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
        {{ content }}
    </div>

    {% include footer.html %}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.1.min.js"><\/script>')</script>

    <script src="{{"/js/vendor/bootstrap.min.js" | preprend: site.baseurl }}"></script>

    <script src="{{"/js/plugins.js" | preprend: site.baseurl }}"></script>
    <script src="{{"/js/jquery.cycle2.min.js" | preprend: site.baseurl }}"></script>
    <script src="{{"/js/jquery.cycle2.swipe.js" | preprend: site.baseurl }}"></script>
    <script src="{{"/js/ios6fix.js" | preprend: site.baseurl }}"></script>
    <script src="{{"/js/jquery.isotope.min.js" | preprend: site.baseurl }}"></script>
    <script src="{{"/js/scrollTo.min.js" | preprend: site.baseurl }}"></script>
    <script src="{{"/js/fresco.js" | preprend: site.baseurl }}"></script>
    <script src="{{"/js/jquery.debouncedresize.js" | preprend: site.baseurl }}"></script>
    <script src="{{"/js/jquery.throttledresize.js" | preprend: site.baseurl }}"></script>
    <script src="{{"/js/main.js" | preprend: site.baseurl }}"></script>

    <script>
    var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
      </script>
    </body>
  </html>
