---
layout: default
---
<div class="post">

  <!-- ========= STICKY ========== -->
  <section class="sticky">
    <section class="stickybox">
      <div class="container">
        <div class="logo pull-left">
          <a href="#home"><img src="{{ "/images/logo2.png" | prepend: site.baseurl }}" alt="logo" /></a>
        </div>
        <div id="nav" class="pull-right">
          <ul class="nav unstyled">
            <!--
            <li class="menu-1"><a href="#about-us"><i class="icon-lightbulb icon-3x"></i>About Us</a></li>
            <li class="menu-3"><a href="#services"><i class="icon-beaker icon-3x"></i>Services</a></li>
            <li class="menu-2"><a href="#portfolio"><i class="icon-magic icon-3x"></i>Portfolio</a></li>
          -->
          <li class="menu-4"><a href="#contact"><i class="icon-rocket icon-3x"></i>Contact</a></li>
        </ul>
      </div>
    </div>
  </section>
</section>

<!-- ========== MOBILE NAV ========== -->
<div id="mob-header">
  <div class="moblogo pull-left">
    <a href="#home"><img src="{{ "/images/logo2.png" | prepend: site.baseurl }}" alt="logo" /></a>
  </div>
  <div id="navmobile" class="pull-right">
    <a href="#mobmenu" class="menutrigger"><i class="icon-reorder"></i></a>
    <ul class="unstyled mobmenu">
      <!--
      <li class="menu-1"><a href="#about-us"><i class="icon-lightbulb icon-1x"></i>About Us</a></li>
      <li class="menu-3"><a href="#services"><i class="icon-beaker icon-1x"></i>Services</a></li>
      <li class="menu-2"><a href="#portfolio"><i class="icon-magic icon-1x"></i>Portfolio</a></li>
    -->
    <li class="menu-4"><a href="#contact"><i class="icon-rocket icon-1x"></i>Contact</a></li>
  </ul>
</div>
</div>

  <article class="post-content">
    {{ content }}
  </article>

</div>
