---
layout: default
---
<div>

  <!-- ========= STICKY ========== -->
  <section class="sticky">
    <section class="stickybox top">
      <div class="container">
        <a href="/index.html">toto</a>
        <div class="pull-left">
          <a href="/index.html"><img src="{{ "/images/logo2.png" | prepend: site.baseurl }}" alt="logo" /></a>
        </div>
        <div id="nav" class="pull-right">
          <ul class="nav unstyled">
            <!--
            <li class="menu-1"><a href="#about-us"><i class="icon-lightbulb icon-3x"></i>About Us</a></li>
            -->
            <li class="menu-3"><a href="/index.html#services"><i class="icon-beaker icon-3x"></i>Services</a></li>
            <li class="menu-2"><a href="/index.html#portfolio"><i class="icon-magic icon-3x"></i>Portfolio</a></li>
            <li class="menu-4"><a href="/index.html#contact"><i class="icon-rocket icon-3x"></i>Contact</a></li>
        </ul>
      </div>
    </div>
  </section>
</section>

<!-- ========== MOBILE NAV ========== -->
<div id="mob-header">
  <div class="moblogo pull-left">
    <a href="/index.html"><img src="{{ "/images/logo2.png" | prepend: site.baseurl }}" alt="logo" /></a>
  </div>
  <div id="navmobile" class="pull-right">
    <a href="#mobmenu" class="menutrigger"><i class="icon-reorder"></i></a>
    <ul class="unstyled mobmenu">
      <!--
      <li class="menu-1"><a href="#about-us"><i class="icon-lightbulb icon-1x"></i>About Us</a></li>
      -->
    <li class="menu-3"><a href="/index.html#services"><i class="icon-beaker icon-1x"></i>Services</a></li>
    <li class="menu-2"><a href="/index.html#portfolio"><i class="icon-magic icon-1x"></i>Portfolio</a></li>
    <li class="menu-4"><a href="/index.html#contact"><i class="icon-rocket icon-1x"></i>Contact</a></li>
  </ul>
</div>
</div>

  <article class="post parallax inverse">
    <div class="container">
    <div class="row-fluid">
      <div class="span9">
        {{ content }}
      </div>
      <div class="span3">
        <h3>Other services</h3>
        <ul class="arrow">
          <li>Unlimited Colors</li>
          <li>Theme Options</li>
          <li>Complete Control</li>
          <li>Easy Customize</li>
          <li>Unlimited Colors</li>
          <li>Theme Options</li>
          <li>Complete Control</li>
        </ul>
      </div>
    </div>
    </div>

  </article>

</div>
